<phpunit
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<php>
		<ini name="memory_limit" value="-1" />
	</php>
	<filter>
		<whitelist>
			<directory suffix=".php">../core</directory>
		</whitelist>
	</filter>
</phpunit>
