<div class="p2p-box" {{attributes}}>
	<table class="p2p-connections" {{{hide-connections}}}>
		<thead>
			<tr>
				{{#thead}}
				<th class="p2p-col-{{column}}">{{{title}}}</th>
				{{/thead}}
			</tr>
		</thead>

		<tbody>
			{{{tbody}}}
		</tbody>
	</table>

	<p><strong>{{create-label}}</strong></p>

	<ul class="wp-tab-bar clearfix">
		{{#tabs}}
		<li {{#is-active}}class="wp-tab-active"{{/is-active}} data-ref="{{ref}}"><a href="#">{{text}}</a></li>
		{{/tabs}}
	</ul>

	<div class="p2p-tab-search tabs-panel">
		<div class="p2p-search">
			<input type="text" name="p2p_search" autocomplete="off" placeholder="{{placeholder}}" />
		</div>
	</div>

	<div class="p2p-tab-recent tabs-panel">
		{{{recent-posts}}}
	</div>

	{{#create-post}}
	<div class="p2p-tab-create-post tabs-panel">
		<input type="text" name="p2p_new_title" autocomplete="off" />
		<input type="button" class="button" value="{{title}}" />
	</div>
	{{/create-post}}
</div><!--.p2p-box-->
