<div class="p2p-box">
	<table class="p2p-connections" {{{hide-connections}}}>
		<thead>
			<tr>
				{{#thead}}
				<th class="{{class}}">{{{title}}}</th>
				{{/thead}}
			</tr>
		</thead>

		<tbody>
			{{{tbody}}}
		</tbody>
	</table>

	<p><strong>{{create}}</strong></p>

	<ul class="wp-tab-bar clearfix">
		{{#tabs}}
		<li {{#is-active}}class="wp-tab-active"{{/is-active}} data-ref="{{ref}}"><a href="#">{{text}}</a></li>
		{{/tabs}}
	</ul>

	<div class="p2p-create-connections tabs-panel" {{attributes}}>
		<div class="p2p-search">
			<input type="text" name="{{search-key}}" autocomplete="off" placeholder="{{placeholder}}" />
		</div>

		<table class="p2p-results">
			<tbody>
			</tbody>
		</table>

		<div class="p2p-navigation">
			<div class="p2p-nav">
				<div class="p2p-prev button" title="{{prev}}">&lsaquo;</div>
				<div><span class="p2p-current"></span> {{of}} <span class="p2p-total"></span></div>
				<div class="p2p-next button" title="{{next}}">&rsaquo;</div>
			</div>

			<div class="clear">
				<!-- Clearfix would be better -->
			</div>
		</div>
	</div><!--.p2p-create-connections-->

	<div class="p2p-recent tabs-panel">
		todo
	</div>

	{{#create-post}}
	<div class="p2p-create-post tabs-panel">
		<input type="text" name="{{key}}" autocomplete="off" />
		<input type="button" class="button" value="{{title}}" />
	</div>
	{{/create-post}}
</div><!--.p2p-box-->
