<div class="p2p-box" {{attributes}}>
	<table class="p2p-connections" {{{hide-connections}}}>
		<thead>
			<tr>
				{{#thead}}
				<th class="p2p-col-{{column}}">{{{title}}}</th>
				{{/thead}}
			</tr>
		</thead>

		<tbody>
			{{{tbody}}}
		</tbody>
	</table>

	<p><strong>{{create-label}}</strong></p>

	<ul class="wp-tab-bar clearfix">
		{{#tabs}}
		<li {{#is-active}}class="wp-tab-active"{{/is-active}} data-ref=".p2p-tab-{{tab-id}}"><a href="#">{{tab-title}}</a></li>
		{{/tabs}}
	</ul>

	{{#tabs}}
	<div class="p2p-tab-{{tab-id}} tabs-panel">
		{{{tab-content}}}
	</div>
	{{/tabs}}
</div><!--.p2p-box-->
