<div class="p2p-box" {{attributes}}>
	{{#connections}}
	<table class="p2p-connections" {{{hide}}}>
		<thead>
			<tr>
				{{#thead}}
				<th class="p2p-col-{{column}}">{{{title}}}</th>
				{{/thead}}
			</tr>
		</thead>

		<tbody>
			{{#tbody}}
			{{>table-row}}
			{{/tbody}}
		</tbody>
	</table>
	{{/connections}}

	{{#create-connections}}
	<div class="p2p-create-connections" {{{hide}}}>
		<p class="p2p-toggle-tabs"><a href="#">+ {{{label}}}</a></p>

		<div class="p2p-create-connections-tabs" style="display: none">
			{{#show-tab-headers}}
			<ul class="wp-tab-bar clearfix">
				{{#tabs}}
				<li {{#is-active}}class="wp-tab-active"{{/is-active}} data-ref=".p2p-tab-{{tab-id}}"><a href="#">{{{tab-title}}}</a></li>
				{{/tabs}}
			</ul>
			{{/show-tab-headers}}

			{{#tabs}}
			<div class="p2p-tab-{{tab-id}} tabs-panel">
				{{{tab-content}}}
			</div>
			{{/tabs}}
		</div>
	</div>
	{{/create-connections}}
</div>
