<table class="p2p-results">
	<tbody>
		{{#rows}}
			{{>table-row}}
		{{/rows}}
	</tbody>
</table>

{{#navigation}}
<div class="p2p-navigation">
	<div class="p2p-prev button {{prev-inactive}}" title="{{prev-label}}">&lsaquo;</div>
	<div>
		<span class="p2p-current">{{current-page}}</span>
		{{of-label}}
		<span class="p2p-total" data-num="{{total-pages-raw}}">{{total-pages}}</span>
	</div>
	<div class="p2p-next button {{next-inactive}}" title="{{next-label}}">&rsaquo;</div>
</div>
{{/navigation}}
