/* General */

.button.inactive, .button.inactive:hover {
	border-color: #bbb;
	color: #aaa;
	background: #f6f6f6;
	text-shadow: none;
	cursor: default;
}

.p2p-footer {
	background-color: #f1f1f1;
	border-top: 1px solid #ddd;
	clear: both;
	padding: 7px;
	margin: 0 -6px -8px;
}

.p2p-footer .p2p-recent {
	float: right;
}

.p2p-placeholder {
	color: #AAA;
}

.p2p-connections,
.p2p-search,
.p2p-results {
	margin-bottom: 8px;
}

/* Connections */

.p2p-results,
.p2p-connections {
	background-color: #F9F9F9;
	border-color: #DFDFDF;
	border-radius: 3px;
	border-spacing: 0;
	border-style: solid;
	border-width: 1px;
}

.p2p-results {
	display: none;
}

.p2p-results td,
.p2p-connections td {
	border-top: 1px solid #DFDFDF;
}

.p2p-connections th,
.p2p-connections td,
.p2p-results td {
	padding-left: 6px;
	padding-right: 6px;
}

th.p2p-col-delete,
td.p2p-col-delete,
td.p2p-col-add {
	padding: 0;
}

.p2p-col-delete a,
.p2p-col-add a,
.p2p-col-delete img, 
.p2p-col-add img {
	padding: 5px 6px;
}

th.p2p-col-delete a {
	padding-bottom: 8px;
}

.p2p-results tr:first-child td {
	border-top: 0;
}

.p2p-connections {
	width: 100%;
}

.p2p-connections th {
	background-color: #F1F1F1;
	text-align: left;
}

.p2p-connections td input {
	width: 100%;
}

.p2p-col-add,
.p2p-col-delete {
	width: 16px;
}

.p2p-col-add a,
.p2p-col-delete a {
	display: block;
	height: 16px;
	margin-top: 1px;
	opacity: 0.5;
	text-indent: -9999px;
	width: 16px;
}

.p2p-col-add a:hover,
.p2p-col-delete a:hover {
	background-color: #f5f5f5;
	border-right: 1px solid #ddd;
	opacity: 1;
	width: 15px;
}

.p2p-col-add a {
	background: url("images/add.png") no-repeat scroll 50% 50% transparent;
}

.p2p-col-delete a {
	background: url("images/delete.png") no-repeat scroll 50% 50% transparent;
}

#poststuff .p2p-box .p2p-add-new p {
	margin-left: 5px;
}

.p2p-search .waiting {
	margin-left: -20px;
	opacity: 0.8;
	vertical-align: -0.3em;
}

.p2p-search input {
	background-color: transparent;
	width: 150px;
	padding-right: 22px;
	margin: 0;
}

.p2p-notice {
	margin-left: 5px;
}

#side-sortables .p2p-notice {
	display: block;
	margin-top: 10px;
}

.p2p-footer .waiting {
	float: right;
	margin: 3px 6px 0;
}

.p2p-nav {
	display: none;
}

.p2p-nav > * {
	float: left;
	line-height: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 5px;
}

